USE [master]
GO
/****** Object:  Database [EyewearManagement]    Script Date: 3/22/2026 11:39:06 PM ******/
CREATE DATABASE [EyewearManagement]
GO
USE [EyewearManagement]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Brand_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Logo_URL] [varchar](max) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand_Supplier]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand_Supplier](
	[Brand_Supplier_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Brand_ID] [bigint] NOT NULL,
	[Supplier_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Brand_Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Updated_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK9emlp6m95v5er2bcqkjsw48he] UNIQUE NONCLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[Cart_Item_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Cart_ID] [bigint] NOT NULL,
	[Frame_ID] [bigint] NULL,
	[Lens_ID] [bigint] NULL,
	[Quantity] [int] NOT NULL,
	[Frame_Price] [decimal](18, 2) NULL,
	[Lens_Price] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Contact_Lens_ID] [bigint] NULL,
	[Contact_Lens_Price] [decimal](18, 2) NULL,
	[Item_Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item_Prescription]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item_Prescription](
	[Prescription_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Cart_Item_ID] [bigint] NOT NULL,
	[Right_Eye_Sph] [decimal](5, 2) NULL,
	[Right_Eye_Cyl] [decimal](5, 2) NULL,
	[Right_Eye_Axis] [int] NULL,
	[Right_Eye_Add] [decimal](5, 2) NULL,
	[Left_Eye_Sph] [decimal](5, 2) NULL,
	[Left_Eye_Cyl] [decimal](5, 2) NULL,
	[Left_Eye_Axis] [int] NULL,
	[Left_Eye_Add] [decimal](5, 2) NULL,
	[PD] [decimal](4, 1) NULL,
	[PD_Right] [decimal](4, 1) NULL,
	[PD_Left] [decimal](4, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Prescription_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK7ydqigevpfx4y79x78repiwl1] UNIQUE NONCLUSTERED 
(
	[Cart_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cart_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact_Lens]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact_Lens](
	[Contact_Lens_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Usage_Type] [nvarchar](50) NULL,
	[Base_Curve] [decimal](5, 2) NULL,
	[Diameter] [decimal](5, 2) NULL,
	[Water_Content] [decimal](5, 2) NULL,
	[Available_Power_Range] [nvarchar](200) NULL,
	[Quantity_Per_Box] [int] NULL,
	[Lens_Material] [nvarchar](50) NULL,
	[Replacement_Schedule] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Contact_Lens_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK17g6kun5mkldpahex6y7wul1p] UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frame]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frame](
	[Frame_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Color] [nvarchar](50) NULL,
	[Temple_Length] [decimal](5, 2) NULL,
	[Lens_Width] [decimal](5, 2) NULL,
	[Bridge_Width] [decimal](5, 2) NULL,
	[Frame_Shape_Name] [nvarchar](255) NULL,
	[Frame_Material_Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Frame_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK10iq6sua03jxvejujpbew6ugk] UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invalidated_token]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invalidated_token](
	[id] [varchar](255) NOT NULL,
	[expiry_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Inventory_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Quantity_Before] [int] NOT NULL,
	[Quantity_After] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Supplier_ID] [bigint] NOT NULL,
	[Order_Date] [datetime] NULL,
	[Received_Date] [datetime] NULL,
	[Unit] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Inventory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Receipt]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Receipt](
	[Inventory_Receipt_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Receipt_Code] [nvarchar](50) NOT NULL,
	[Supplier_ID] [bigint] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Approved_By] [int] NULL,
	[Received_By] [int] NULL,
	[Order_Date] [datetime] NOT NULL,
	[Received_Date] [datetime] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Total_Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Inventory_Receipt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Receipt_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Receipt_Detail]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Receipt_Detail](
	[Inventory_Receipt_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Inventory_Receipt_ID] [bigint] NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Ordered_Quantity] [int] NOT NULL,
	[Received_Quantity] [int] NOT NULL,
	[Rejected_Quantity] [int] NOT NULL,
	[Unit_Cost] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Total_Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Inventory_Receipt_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InventoryReceiptDetail_Receipt_Product] UNIQUE NONCLUSTERED 
(
	[Inventory_Receipt_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Transaction]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Transaction](
	[Inventory_Transaction_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Transaction_Type] [nvarchar](30) NOT NULL,
	[Quantity_Change] [int] NOT NULL,
	[Quantity_Before] [int] NOT NULL,
	[Quantity_After] [int] NOT NULL,
	[Reference_Type] [nvarchar](30) NULL,
	[Reference_ID] [bigint] NULL,
	[Order_ID] [bigint] NULL,
	[Order_Detail_ID] [bigint] NULL,
	[Inventory_Receipt_ID] [bigint] NULL,
	[Performed_By] [int] NOT NULL,
	[Performed_At] [datetime] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Inventory_Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[Issue_Date] [datetime] NOT NULL,
	[Total_Amount] [decimal](15, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKgnfabg6rvhoc3c9o4deqb1hn4] UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lens]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lens](
	[Lens_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Lens_Type_ID] [bigint] NOT NULL,
	[Index_Value] [decimal](5, 2) NULL,
	[Diameter] [decimal](5, 2) NULL,
	[Available_Power_Range] [nvarchar](200) NULL,
	[Is_Blue_Light_Block] [bit] NULL,
	[Is_Photochromic] [bit] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Lens_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKk0fc62e586qvs4nnma96bminu] UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lens_Type]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lens_Type](
	[Lens_Type_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Lens_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Order_Code] [nvarchar](50) NULL,
	[Order_Date] [datetime] NOT NULL,
	[Sub_Total] [decimal](15, 2) NOT NULL,
	[Tax_Amount] [decimal](15, 2) NOT NULL,
	[Discount_Amount] [decimal](15, 2) NOT NULL,
	[Order_Type] [nvarchar](20) NULL,
	[Order_Status] [nvarchar](30) NULL,
	[Promotion_ID] [bigint] NULL,
	[Shipping_Fee] [decimal](15, 2) NOT NULL,
	[Total_Amount]  AS ((([Sub_Total]+[Tax_Amount])-[Discount_Amount])+[Shipping_Fee]),
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Order_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[Order_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Unit_Price] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Processing]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Processing](
	[Order_Processing_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[Changed_By] [int] NOT NULL,
	[Changed_At] [datetime] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Processing_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[Payment_Date] [datetime] NULL,
	[Payment_Method] [nvarchar](20) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Payment_Purpose] [nvarchar](20) NOT NULL,
	[Created_At] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription_Order]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription_Order](
	[Prescription_Order_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Prescription_Date] [datetime] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Complete_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Prescription_Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK2q5ifdaeeqx183hggfpjfkc9j] UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription_Order_Detail]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription_Order_Detail](
	[Prescription_Order_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Prescription_Order_ID] [bigint] NOT NULL,
	[Frame_ID] [bigint] NULL,
	[Lens_ID] [bigint] NULL,
	[Right_Eye_Sph] [decimal](5, 2) NULL,
	[Right_Eye_Cyl] [decimal](5, 2) NULL,
	[Right_Eye_Axis] [int] NULL,
	[Left_Eye_Sph] [decimal](5, 2) NULL,
	[Left_Eye_Cyl] [decimal](5, 2) NULL,
	[Left_Eye_Axis] [int] NULL,
	[Sub_Total] [decimal](15, 2) NOT NULL,
	[PD] [decimal](4, 1) NULL,
	[PD_Right] [decimal](4, 1) NULL,
	[PD_Left] [decimal](4, 1) NULL,
	[Right_Eye_Add] [decimal](5, 2) NULL,
	[Left_Eye_Add] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Prescription_Order_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[SKU] [nvarchar](50) NULL,
	[Product_Type_ID] [bigint] NOT NULL,
	[Brand_ID] [bigint] NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Cost_Price] [decimal](15, 2) NOT NULL,
	[Allow_Preorder] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Is_Active] [bit] NOT NULL,
	[On_Hand_Quantity] [int] NOT NULL,
	[Reserved_Quantity] [int] NOT NULL,
	[Available_Quantity]  AS ([On_Hand_Quantity]-[Reserved_Quantity]),
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[Image_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Image_URL] [varchar](max) NOT NULL,
	[Is_Avatar] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Image_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Try_On_Config]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Try_On_Config](
	[Try_On_Config_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[Is_Enabled] [bit] NOT NULL,
	[Model_URL] [nvarchar](1000) NULL,
	[Preview_Image_URL] [nvarchar](1000) NULL,
	[Cloudinary_Public_ID] [nvarchar](255) NULL,
	[Cloudinary_Asset_ID] [nvarchar](255) NULL,
	[Cloudinary_Version] [nvarchar](50) NULL,
	[Storage_Provider] [nvarchar](50) NOT NULL,
	[Model_Format] [nvarchar](20) NOT NULL,
	[Scale_Value] [decimal](10, 4) NOT NULL,
	[Offset_X] [decimal](10, 4) NOT NULL,
	[Offset_Y] [decimal](10, 4) NOT NULL,
	[Offset_Z] [decimal](10, 4) NOT NULL,
	[Rotation_X] [decimal](10, 4) NOT NULL,
	[Rotation_Y] [decimal](10, 4) NOT NULL,
	[Rotation_Z] [decimal](10, 4) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[Created_At] [datetime] NOT NULL,
	[Updated_At] [datetime] NOT NULL,
	[Anchor_Mode] [nvarchar](30) NOT NULL,
	[Scale_Mode] [nvarchar](30) NOT NULL,
	[Fit_Ratio] [decimal](10, 4) NOT NULL,
	[Offset_IPD_X] [decimal](10, 4) NOT NULL,
	[Offset_IPD_Y] [decimal](10, 4) NOT NULL,
	[Offset_IPD_Z] [decimal](10, 4) NOT NULL,
	[Yaw_Bias] [decimal](10, 4) NOT NULL,
	[Pitch_Bias] [decimal](10, 4) NOT NULL,
	[Roll_Bias] [decimal](10, 4) NOT NULL,
	[Depth_Ratio] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Try_On_Config_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductTryOnConfig_Product] UNIQUE NONCLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Type]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Type](
	[Product_Type_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Promotion_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Promotion_Code] [nvarchar](50) NOT NULL,
	[Promotion_Name] [nvarchar](255) NOT NULL,
	[Promotion_Scope] [nvarchar](20) NOT NULL,
	[Discount_Type] [nvarchar](20) NOT NULL,
	[Discount_Value] [decimal](15, 2) NOT NULL,
	[Max_Discount_Value] [decimal](15, 2) NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NOT NULL,
	[Usage_Limit] [int] NULL,
	[Used_Count] [int] NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKo72hlunsj1rlisekchpp6e9v] UNIQUE NONCLUSTERED 
(
	[Promotion_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Promotion_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Order_Rule]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Order_Rule](
	[Promotion_Order_Rule_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Promotion_ID] [bigint] NOT NULL,
	[Min_Order_Total] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_Order_Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK6pc8jvayurfob1osotc02sud0] UNIQUE NONCLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Product_Target]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Product_Target](
	[Promotion_Product_Target_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Promotion_ID] [bigint] NOT NULL,
	[Target_Type] [nvarchar](30) NOT NULL,
	[Product_ID] [bigint] NULL,
	[Product_Type_ID] [bigint] NULL,
	[Brand_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_Product_Target_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Exchange]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Exchange](
	[Return_Exchange_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Return_Code] [nvarchar](50) NOT NULL,
	[Request_Date] [datetime] NOT NULL,
	[Request_Note] [nvarchar](1000) NULL,
	[Return_Reason] [nvarchar](500) NULL,
	[Return_Type] [nvarchar](20) NOT NULL,
	[Request_Scope] [nvarchar](10) NOT NULL,
	[Refund_Amount] [decimal](15, 2) NULL,
	[Refund_Method] [nvarchar](30) NULL,
	[Refund_Account_Number] [nvarchar](100) NULL,
	[Refund_Account_Name] [nvarchar](100) NULL,
	[Refund_Reference_Code] [nvarchar](100) NULL,
	[Staff_Refund_Evidence_URL] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Approved_By] [int] NULL,
	[Approved_Date] [datetime] NULL,
	[Processed_By] [int] NULL,
	[Processed_Date] [datetime] NULL,
	[Reject_Reason] [nvarchar](500) NULL,
	[Customer_Account_QR] [nvarchar](500) NULL,
 CONSTRAINT [PK_Return_Exchange] PRIMARY KEY CLUSTERED 
(
	[Return_Exchange_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReturnExchange_ReturnCode] UNIQUE NONCLUSTERED 
(
	[Return_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Exchange_Item]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Exchange_Item](
	[Return_Exchange_Item_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Return_Exchange_ID] [bigint] NOT NULL,
	[Order_Detail_ID] [bigint] NULL,
	[Quantity] [int] NOT NULL,
	[Item_Reason] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
	[Item_Source] [nvarchar](40) NOT NULL,
	[Prescription_Order_Detail_ID] [bigint] NULL,
	[Item_Evidence_URL] [nvarchar](500) NULL,
 CONSTRAINT [PK_Return_Exchange_Item] PRIMARY KEY CLUSTERED 
(
	[Return_Exchange_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReturnExchangeItem_ReturnExchange_OrderDetail] UNIQUE NONCLUSTERED 
(
	[Return_Exchange_ID] ASC,
	[Order_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping_Info]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping_Info](
	[Shipping_Info_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_ID] [bigint] NOT NULL,
	[Recipient_Name] [nvarchar](100) NOT NULL,
	[Recipient_Phone] [varchar](15) NOT NULL,
	[Recipient_Email] [varchar](100) NULL,
	[Recipient_Address] [nvarchar](255) NOT NULL,
	[Province_Code] [int] NULL,
	[Province_Name] [nvarchar](100) NULL,
	[District_Code] [int] NULL,
	[District_Name] [nvarchar](100) NULL,
	[Ward_Code] [nvarchar](20) NULL,
	[Ward_Name] [nvarchar](100) NULL,
	[Shipping_Method] [nvarchar](30) NOT NULL,
	[Shipping_Fee] [decimal](15, 2) NOT NULL,
	[Shipping_Status] [nvarchar](30) NOT NULL,
	[Expected_Delivery_At] [datetime2](0) NULL,
	[Note] [nvarchar](max) NULL,
	[Delivered_At] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Shipping_Info_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKit89k9d37avv8vws3waw1nhay] UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Supplier_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Supplier_Name] [nvarchar](100) NOT NULL,
	[Supplier_Phone] [varchar](15) NOT NULL,
	[Supplier_Address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/22/2026 11:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Role_ID] [int] NULL,
	[Status] [bit] NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Date_of_Birth] [date] NULL,
	[ID_Number] [varchar](20) NULL,
	[Province_Code] [int] NULL,
	[Province_Name] [nvarchar](100) NULL,
	[District_Code] [int] NULL,
	[District_Name] [nvarchar](100) NULL,
	[Ward_Code] [nvarchar](20) NULL,
	[Ward_Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Product_SKU_NotNull]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Product_SKU_NotNull] ON [dbo].[Product]
(
	[SKU] ASC
)
WHERE ([SKU] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReturnExchange_Order_Status]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReturnExchange_Order_Status] ON [dbo].[Return_Exchange]
(
	[Order_ID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReturnExchange_RequestDate]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReturnExchange_RequestDate] ON [dbo].[Return_Exchange]
(
	[Request_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReturnExchange_User_Status]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReturnExchange_User_Status] ON [dbo].[Return_Exchange]
(
	[User_ID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ReturnExchange_OpenRefund_Order]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ReturnExchange_OpenRefund_Order] ON [dbo].[Return_Exchange]
(
	[Order_ID] ASC,
	[Return_Type] ASC,
	[Request_Scope] ASC
)
WHERE ([Return_Type]=N'REFUND' AND [Request_Scope]=N'ORDER' AND ([Status] IN (N'PENDING', N'APPROVED')))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReturnExchangeItem_OrderDetail]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReturnExchangeItem_OrderDetail] ON [dbo].[Return_Exchange_Item]
(
	[Order_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_User_ID_Number_NotNull]    Script Date: 3/22/2026 11:39:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_User_ID_Number_NotNull] ON [dbo].[User]
(
	[ID_Number] ASC
)
WHERE ([ID_Number] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [Updated_At]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Inventory_Receipt] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Inventory_Receipt] ADD  CONSTRAINT [DF_InventoryReceipt_Status]  DEFAULT (N'DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Inventory_Receipt] ADD  DEFAULT ((0)) FOR [Total_Amount]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] ADD  CONSTRAINT [DF_InventoryReceiptDetail_ReceivedQty]  DEFAULT ((0)) FOR [Received_Quantity]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] ADD  CONSTRAINT [DF_InventoryReceiptDetail_RejectedQty]  DEFAULT ((0)) FOR [Rejected_Quantity]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] ADD  DEFAULT ((0)) FOR [Total_Price]
GO
ALTER TABLE [dbo].[Inventory_Transaction] ADD  CONSTRAINT [DF_InventoryTransaction_PerformedAt]  DEFAULT (getdate()) FOR [Performed_At]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [Issue_Date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Tax_Amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Discount_Amount]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_ShippingFee]  DEFAULT ((0)) FOR [Shipping_Fee]
GO
ALTER TABLE [dbo].[Order_Processing] ADD  DEFAULT (getdate()) FOR [Changed_At]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_Created_At]  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Allow_Preorder]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_On_Hand_Quantity]  DEFAULT ((0)) FOR [On_Hand_Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Reserved_Quantity]  DEFAULT ((0)) FOR [Reserved_Quantity]
GO
ALTER TABLE [dbo].[Product_Image] ADD  DEFAULT ((0)) FOR [Is_Avatar]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_IsEnabled]  DEFAULT ((0)) FOR [Is_Enabled]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_StorageProvider]  DEFAULT (N'CLOUDINARY') FOR [Storage_Provider]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_ModelFormat]  DEFAULT (N'glb') FOR [Model_Format]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_ScaleValue]  DEFAULT ((1.0000)) FOR [Scale_Value]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetX]  DEFAULT ((0.0000)) FOR [Offset_X]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetY]  DEFAULT ((0.0000)) FOR [Offset_Y]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetZ]  DEFAULT ((0.0000)) FOR [Offset_Z]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_RotationX]  DEFAULT ((0.0000)) FOR [Rotation_X]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_RotationY]  DEFAULT ((0.0000)) FOR [Rotation_Y]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_RotationZ]  DEFAULT ((0.0000)) FOR [Rotation_Z]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_CreatedAt]  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_UpdatedAt]  DEFAULT (getdate()) FOR [Updated_At]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_AnchorMode]  DEFAULT (N'NOSE_BRIDGE') FOR [Anchor_Mode]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_ScaleMode]  DEFAULT (N'FACE_WIDTH') FOR [Scale_Mode]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_FitRatio]  DEFAULT ((0.8200)) FOR [Fit_Ratio]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetIpdX]  DEFAULT ((0.0000)) FOR [Offset_IPD_X]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetIpdY]  DEFAULT ((0.0000)) FOR [Offset_IPD_Y]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_OffsetIpdZ]  DEFAULT ((0.0000)) FOR [Offset_IPD_Z]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_YawBias]  DEFAULT ((0.0000)) FOR [Yaw_Bias]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_PitchBias]  DEFAULT ((0.0000)) FOR [Pitch_Bias]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_RollBias]  DEFAULT ((0.0000)) FOR [Roll_Bias]
GO
ALTER TABLE [dbo].[Product_Try_On_Config] ADD  CONSTRAINT [DF_ProductTryOnConfig_DepthRatio]  DEFAULT ((0.0000)) FOR [Depth_Ratio]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [Used_Count]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Return_Exchange] ADD  CONSTRAINT [DF_ReturnExchange_RequestDate]  DEFAULT (getdate()) FOR [Request_Date]
GO
ALTER TABLE [dbo].[Return_Exchange] ADD  CONSTRAINT [DF_ReturnExchange_RequestScope]  DEFAULT (N'ITEM') FOR [Request_Scope]
GO
ALTER TABLE [dbo].[Return_Exchange_Item] ADD  DEFAULT (N'ORDER_DETAIL') FOR [Item_Source]
GO
ALTER TABLE [dbo].[Shipping_Info] ADD  CONSTRAINT [DF_ShippingFee]  DEFAULT ((0)) FOR [Shipping_Fee]
GO
ALTER TABLE [dbo].[Shipping_Info] ADD  CONSTRAINT [DF_ShippingStatus]  DEFAULT (N'PENDING') FOR [Shipping_Status]
GO
ALTER TABLE [dbo].[Brand_Supplier]  WITH CHECK ADD  CONSTRAINT [FK_BrandSupplier_Brand] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Brand_Supplier] CHECK CONSTRAINT [FK_BrandSupplier_Brand]
GO
ALTER TABLE [dbo].[Brand_Supplier]  WITH CHECK ADD  CONSTRAINT [FK_BrandSupplier_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Brand_Supplier] CHECK CONSTRAINT [FK_BrandSupplier_Supplier]
GO
ALTER TABLE [dbo].[Brand_Supplier]  WITH CHECK ADD  CONSTRAINT [FK5rlbiu282jq84jkahjuud0pco] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Brand_Supplier] CHECK CONSTRAINT [FK5rlbiu282jq84jkahjuud0pco]
GO
ALTER TABLE [dbo].[Brand_Supplier]  WITH CHECK ADD  CONSTRAINT [FKt844hruv0bcwcvdt6k9pp248g] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Brand_Supplier] CHECK CONSTRAINT [FKt844hruv0bcwcvdt6k9pp248g]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FKfcgxn8aabjmqqo761dwyf3kw8] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FKfcgxn8aabjmqqo761dwyf3kw8]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([Cart_ID])
REFERENCES [dbo].[Cart] ([Cart_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_ContactLens] FOREIGN KEY([Contact_Lens_ID])
REFERENCES [dbo].[Contact_Lens] ([Contact_Lens_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_ContactLens]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Frame] FOREIGN KEY([Frame_ID])
REFERENCES [dbo].[Frame] ([Frame_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Frame]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Lens] FOREIGN KEY([Lens_ID])
REFERENCES [dbo].[Lens] ([Lens_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Lens]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK1uobyhgl1wvgt1jpccia8xxs3] FOREIGN KEY([Cart_ID])
REFERENCES [dbo].[Cart] ([Cart_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK1uobyhgl1wvgt1jpccia8xxs3]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FKf31a7xn9squpk74bqclvkr4i1] FOREIGN KEY([Frame_ID])
REFERENCES [dbo].[Frame] ([Frame_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FKf31a7xn9squpk74bqclvkr4i1]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FKhikil4x7nwuv473oyopdex9s9] FOREIGN KEY([Lens_ID])
REFERENCES [dbo].[Lens] ([Lens_ID])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FKhikil4x7nwuv473oyopdex9s9]
GO
ALTER TABLE [dbo].[Cart_Item_Prescription]  WITH CHECK ADD  CONSTRAINT [FK_CartItemPrescription_CartItem] FOREIGN KEY([Cart_Item_ID])
REFERENCES [dbo].[Cart_Item] ([Cart_Item_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart_Item_Prescription] CHECK CONSTRAINT [FK_CartItemPrescription_CartItem]
GO
ALTER TABLE [dbo].[Cart_Item_Prescription]  WITH CHECK ADD  CONSTRAINT [FKjyxuhy0eeob6xun2y2tlpfdm5] FOREIGN KEY([Cart_Item_ID])
REFERENCES [dbo].[Cart_Item] ([Cart_Item_ID])
GO
ALTER TABLE [dbo].[Cart_Item_Prescription] CHECK CONSTRAINT [FKjyxuhy0eeob6xun2y2tlpfdm5]
GO
ALTER TABLE [dbo].[Contact_Lens]  WITH CHECK ADD  CONSTRAINT [FK_ContactLens_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Contact_Lens] CHECK CONSTRAINT [FK_ContactLens_Product]
GO
ALTER TABLE [dbo].[Contact_Lens]  WITH CHECK ADD  CONSTRAINT [FKfnchsq3dx9133e8xr8xbop9br] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Contact_Lens] CHECK CONSTRAINT [FKfnchsq3dx9133e8xr8xbop9br]
GO
ALTER TABLE [dbo].[Frame]  WITH CHECK ADD  CONSTRAINT [FK_Frame_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Frame] CHECK CONSTRAINT [FK_Frame_Product]
GO
ALTER TABLE [dbo].[Frame]  WITH CHECK ADD  CONSTRAINT [FK6u2pi6w3wfn5k3wvdh3bifiak] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Frame] CHECK CONSTRAINT [FK6u2pi6w3wfn5k3wvdh3bifiak]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Supplier]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_User]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FKbmwp1vmvlxwqfshbcnvim4bq6] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FKbmwp1vmvlxwqfshbcnvim4bq6]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FKe0810rp6mmsbj1f46yhc4h7vb] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FKe0810rp6mmsbj1f46yhc4h7vb]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FKp7gj4l80fx8v0uap3b2crjwp5] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FKp7gj4l80fx8v0uap3b2crjwp5]
GO
ALTER TABLE [dbo].[Inventory_Receipt]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipt_ApprovedBy] FOREIGN KEY([Approved_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt] CHECK CONSTRAINT [FK_InventoryReceipt_ApprovedBy]
GO
ALTER TABLE [dbo].[Inventory_Receipt]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipt_CreatedBy] FOREIGN KEY([Created_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt] CHECK CONSTRAINT [FK_InventoryReceipt_CreatedBy]
GO
ALTER TABLE [dbo].[Inventory_Receipt]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipt_ReceivedBy] FOREIGN KEY([Received_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt] CHECK CONSTRAINT [FK_InventoryReceipt_ReceivedBy]
GO
ALTER TABLE [dbo].[Inventory_Receipt]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipt_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt] CHECK CONSTRAINT [FK_InventoryReceipt_Supplier]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetail_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [FK_InventoryReceiptDetail_Product]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceiptDetail_Receipt] FOREIGN KEY([Inventory_Receipt_ID])
REFERENCES [dbo].[Inventory_Receipt] ([Inventory_Receipt_ID])
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [FK_InventoryReceiptDetail_Receipt]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransaction_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InventoryTransaction_Order]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransaction_OrderDetail] FOREIGN KEY([Order_Detail_ID])
REFERENCES [dbo].[Order_Detail] ([Order_Detail_ID])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InventoryTransaction_OrderDetail]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransaction_PerformedBy] FOREIGN KEY([Performed_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InventoryTransaction_PerformedBy]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransaction_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InventoryTransaction_Product]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransaction_Receipt] FOREIGN KEY([Inventory_Receipt_ID])
REFERENCES [dbo].[Inventory_Receipt] ([Inventory_Receipt_ID])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InventoryTransaction_Receipt]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Order]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FKodg4k99ccfbm1idf8t4mq11jb] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FKodg4k99ccfbm1idf8t4mq11jb]
GO
ALTER TABLE [dbo].[Lens]  WITH CHECK ADD  CONSTRAINT [FK_Lens_LensType] FOREIGN KEY([Lens_Type_ID])
REFERENCES [dbo].[Lens_Type] ([Lens_Type_ID])
GO
ALTER TABLE [dbo].[Lens] CHECK CONSTRAINT [FK_Lens_LensType]
GO
ALTER TABLE [dbo].[Lens]  WITH CHECK ADD  CONSTRAINT [FK_Lens_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Lens] CHECK CONSTRAINT [FK_Lens_Product]
GO
ALTER TABLE [dbo].[Lens]  WITH CHECK ADD  CONSTRAINT [FK2uicx1j7g92j8nrdwt7xomu5p] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Lens] CHECK CONSTRAINT [FK2uicx1j7g92j8nrdwt7xomu5p]
GO
ALTER TABLE [dbo].[Lens]  WITH CHECK ADD  CONSTRAINT [FKjgt1vg3t4m5kjmaqpb295bnq8] FOREIGN KEY([Lens_Type_ID])
REFERENCES [dbo].[Lens_Type] ([Lens_Type_ID])
GO
ALTER TABLE [dbo].[Lens] CHECK CONSTRAINT [FKjgt1vg3t4m5kjmaqpb295bnq8]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FKp0qxc5pgs8bnlvw0uct5jdds3] FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FKp0qxc5pgs8bnlvw0uct5jdds3]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK4h2u21mwxavdh3jhtokuehaf0] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK4h2u21mwxavdh3jhtokuehaf0]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FKb8bg2bkty0oksa3wiq5mp5qnc]
GO
ALTER TABLE [dbo].[Order_Processing]  WITH CHECK ADD  CONSTRAINT [FK_OrderProcessing_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Processing] CHECK CONSTRAINT [FK_OrderProcessing_Order]
GO
ALTER TABLE [dbo].[Order_Processing]  WITH CHECK ADD  CONSTRAINT [FK_OrderProcessing_User] FOREIGN KEY([Changed_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Order_Processing] CHECK CONSTRAINT [FK_OrderProcessing_User]
GO
ALTER TABLE [dbo].[Order_Processing]  WITH CHECK ADD  CONSTRAINT [FKinrnu739bqa9gpenw5e6tnc79] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Processing] CHECK CONSTRAINT [FKinrnu739bqa9gpenw5e6tnc79]
GO
ALTER TABLE [dbo].[Order_Processing]  WITH CHECK ADD  CONSTRAINT [FKob707wisgbrfr4mrk2l0ct3fs] FOREIGN KEY([Changed_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Order_Processing] CHECK CONSTRAINT [FKob707wisgbrfr4mrk2l0ct3fs]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK2vpv55g8yy1wuags60mf6a72u] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK2vpv55g8yy1wuags60mf6a72u]
GO
ALTER TABLE [dbo].[Prescription_Order]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Prescription_Order] CHECK CONSTRAINT [FK_Prescription_Order]
GO
ALTER TABLE [dbo].[Prescription_Order]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Prescription_Order] CHECK CONSTRAINT [FK_Prescription_User]
GO
ALTER TABLE [dbo].[Prescription_Order]  WITH CHECK ADD  CONSTRAINT [FK1sb5vhtyq0hvc5hctgf9eoc9l] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Prescription_Order] CHECK CONSTRAINT [FK1sb5vhtyq0hvc5hctgf9eoc9l]
GO
ALTER TABLE [dbo].[Prescription_Order]  WITH CHECK ADD  CONSTRAINT [FKacrerodffomtn6pmjeum0bhat] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Prescription_Order] CHECK CONSTRAINT [FKacrerodffomtn6pmjeum0bhat]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_Frame] FOREIGN KEY([Frame_ID])
REFERENCES [dbo].[Frame] ([Frame_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FK_PrescriptionDetail_Frame]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_Lens] FOREIGN KEY([Lens_ID])
REFERENCES [dbo].[Lens] ([Lens_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FK_PrescriptionDetail_Lens]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_Order] FOREIGN KEY([Prescription_Order_ID])
REFERENCES [dbo].[Prescription_Order] ([Prescription_Order_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FK_PrescriptionDetail_Order]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK8iifyduqa3but8pqrptl5mrcg] FOREIGN KEY([Frame_ID])
REFERENCES [dbo].[Frame] ([Frame_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FK8iifyduqa3but8pqrptl5mrcg]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK8xn4086luio15nj9v2dcpq6d3] FOREIGN KEY([Lens_ID])
REFERENCES [dbo].[Lens] ([Lens_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FK8xn4086luio15nj9v2dcpq6d3]
GO
ALTER TABLE [dbo].[Prescription_Order_Detail]  WITH CHECK ADD  CONSTRAINT [FKi17hfwg37e6t3cpg0pqw81dul] FOREIGN KEY([Prescription_Order_ID])
REFERENCES [dbo].[Prescription_Order] ([Prescription_Order_ID])
GO
ALTER TABLE [dbo].[Prescription_Order_Detail] CHECK CONSTRAINT [FKi17hfwg37e6t3cpg0pqw81dul]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKlabq3c2e90ybbxk58rc48byqo] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKlabq3c2e90ybbxk58rc48byqo]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Image] CHECK CONSTRAINT [FK_ProductImage_Product]
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD  CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Image] CHECK CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [FK_ProductTryOnConfig_Frame] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Frame] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [FK_ProductTryOnConfig_Frame]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [FK_ProductTryOnConfig_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [FK_ProductTryOnConfig_Product]
GO
ALTER TABLE [dbo].[Promotion_Order_Rule]  WITH CHECK ADD  CONSTRAINT [FK_PromotionOrderRule_Promotion] FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Promotion_Order_Rule] CHECK CONSTRAINT [FK_PromotionOrderRule_Promotion]
GO
ALTER TABLE [dbo].[Promotion_Order_Rule]  WITH CHECK ADD  CONSTRAINT [FKdi1mf5hn8qnhy999bcobey4p3] FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Promotion_Order_Rule] CHECK CONSTRAINT [FKdi1mf5hn8qnhy999bcobey4p3]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProductTarget_Brand] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FK_PromotionProductTarget_Brand]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProductTarget_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FK_PromotionProductTarget_Product]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProductTarget_ProductType] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FK_PromotionProductTarget_ProductType]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProductTarget_Promotion] FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FK_PromotionProductTarget_Promotion]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FKjreab648agcl442lu9sc6tv2x] FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FKjreab648agcl442lu9sc6tv2x]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FKmrch65h2os99v80o9t4dh7rcw] FOREIGN KEY([Product_Type_ID])
REFERENCES [dbo].[Product_Type] ([Product_Type_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FKmrch65h2os99v80o9t4dh7rcw]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FKr7v8i2bfwrcmvit15exo9okw1] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FKr7v8i2bfwrcmvit15exo9okw1]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [FKto2pmccihx783neaf13c7nalt] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [FKto2pmccihx783neaf13c7nalt]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchange_ApprovedBy] FOREIGN KEY([Approved_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [FK_ReturnExchange_ApprovedBy]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchange_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [FK_ReturnExchange_Order]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchange_ProcessedBy] FOREIGN KEY([Processed_By])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [FK_ReturnExchange_ProcessedBy]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchange_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [FK_ReturnExchange_User]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchangeItem_OrderDetail] FOREIGN KEY([Order_Detail_ID])
REFERENCES [dbo].[Order_Detail] ([Order_Detail_ID])
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [FK_ReturnExchangeItem_OrderDetail]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchangeItem_PrescriptionOrderDetail] FOREIGN KEY([Prescription_Order_Detail_ID])
REFERENCES [dbo].[Prescription_Order_Detail] ([Prescription_Order_Detail_ID])
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [FK_ReturnExchangeItem_PrescriptionOrderDetail]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReturnExchangeItem_ReturnExchange] FOREIGN KEY([Return_Exchange_ID])
REFERENCES [dbo].[Return_Exchange] ([Return_Exchange_ID])
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [FK_ReturnExchangeItem_ReturnExchange]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [FK_ShippingInfo_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [FK_ShippingInfo_Order]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [FK3e7d5jjejmsl4kwy5pl4vpuau] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [FK3e7d5jjejmsl4kwy5pl4vpuau]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Inventory_Receipt]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceipt_Status] CHECK  (([Status]=N'CANCELED' OR [Status]=N'RECEIVED' OR [Status]=N'PARTIAL_RECEIVED' OR [Status]=N'ORDERED' OR [Status]=N'DRAFT'))
GO
ALTER TABLE [dbo].[Inventory_Receipt] CHECK CONSTRAINT [CK_InventoryReceipt_Status]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceiptDetail_OrderedQty] CHECK  (([Ordered_Quantity]>(0)))
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [CK_InventoryReceiptDetail_OrderedQty]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceiptDetail_QuantityLogic] CHECK  ((([Received_Quantity]+[Rejected_Quantity])<=[Ordered_Quantity]))
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [CK_InventoryReceiptDetail_QuantityLogic]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceiptDetail_ReceivedQty] CHECK  (([Received_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [CK_InventoryReceiptDetail_ReceivedQty]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceiptDetail_RejectedQty] CHECK  (([Rejected_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [CK_InventoryReceiptDetail_RejectedQty]
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReceiptDetail_UnitCost] CHECK  (([Unit_Cost]>=(0)))
GO
ALTER TABLE [dbo].[Inventory_Receipt_Detail] CHECK CONSTRAINT [CK_InventoryReceiptDetail_UnitCost]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransaction_Balance] CHECK  (([Quantity_After]=([Quantity_Before]+[Quantity_Change])))
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [CK_InventoryTransaction_Balance]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransaction_QtyAfter] CHECK  (([Quantity_After]>=(0)))
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [CK_InventoryTransaction_QtyAfter]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransaction_QtyBefore] CHECK  (([Quantity_Before]>=(0)))
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [CK_InventoryTransaction_QtyBefore]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransaction_QtyChange_NotZero] CHECK  (([Quantity_Change]<>(0)))
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [CK_InventoryTransaction_QtyChange_NotZero]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransaction_Type] CHECK  (([Transaction_Type]=N'RELEASE_RESERVE' OR [Transaction_Type]=N'RESERVE' OR [Transaction_Type]=N'ADJUSTMENT_OUT' OR [Transaction_Type]=N'ADJUSTMENT_IN' OR [Transaction_Type]=N'DAMAGE_OUT' OR [Transaction_Type]=N'RETURN_TO_SUPPLIER_OUT' OR [Transaction_Type]=N'CUSTOMER_RETURN_IN' OR [Transaction_Type]=N'ORDER_CANCEL_IN' OR [Transaction_Type]=N'SALE_OUT' OR [Transaction_Type]=N'RECEIPT_IN'))
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [CK_InventoryTransaction_Type]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [CK_Invoice_Status] CHECK  (([Status]=N'CANCELED' OR [Status]=N'PAID' OR [Status]=N'PARTIALLY_PAID' OR [Status]=N'UNPAID'))
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [CK_Invoice_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_ShippingFee] CHECK  (([Shipping_Fee]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_ShippingFee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([Order_Status]=N'RETURNED' OR [Order_Status]=N'CANCELED' OR [Order_Status]=N'COMPLETED' OR [Order_Status]=N'READY' OR [Order_Status]=N'PROCESSING' OR [Order_Status]=N'PAID' OR [Order_Status]=N'PARTIALLY_PAID' OR [Order_Status]=N'CONFIRMED' OR [Order_Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Type] CHECK  (([Order_Type]=N'MIX_ORDER' OR [Order_Type]=N'PRESCRIPTION_ORDER' OR [Order_Type]=N'PRE_ORDER' OR [Order_Type]=N'DIRECT_ORDER'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Type]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Amount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Deposit_Method] CHECK  ((NOT ([Payment_Purpose]=N'DEPOSIT' AND [Payment_Method]=N'COD')))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Deposit_Method]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Method] CHECK  (([Payment_Method]=N'PAYOS' OR [Payment_Method]=N'VNPAY' OR [Payment_Method]=N'MOMO' OR [Payment_Method]=N'COD'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Method]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Purpose] CHECK  (([Payment_Purpose]=N'REMAINING' OR [Payment_Purpose]=N'FULL' OR [Payment_Purpose]=N'DEPOSIT'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Purpose]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([Status]=N'CANCELED' OR [Status]=N'REFUNDED' OR [Status]=N'FAILED' OR [Status]=N'SUCCESS' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_AvailableQuantity] CHECK  (([On_Hand_Quantity]>=[Reserved_Quantity]))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_AvailableQuantity]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_CostPrice] CHECK  (([Cost_Price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_CostPrice]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_OnHandQuantity] CHECK  (([On_Hand_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_OnHandQuantity]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Price]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_ReservedQuantity] CHECK  (([Reserved_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_ReservedQuantity]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_AnchorMode] CHECK  (([Anchor_Mode]=N'EYE_CENTER' OR [Anchor_Mode]=N'NOSE_BRIDGE'))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_AnchorMode]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_DepthRatio] CHECK  (([Depth_Ratio]>=(-2.0000) AND [Depth_Ratio]<=(2.0000)))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_DepthRatio]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_FitRatio] CHECK  (([Fit_Ratio]>(0.1000) AND [Fit_Ratio]<=(3.0000)))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_FitRatio]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_ModelFormat] CHECK  ((lower([Model_Format])=N'obj' OR lower([Model_Format])=N'fbx' OR lower([Model_Format])=N'gltf' OR lower([Model_Format])=N'glb'))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_ModelFormat]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_ScaleMode] CHECK  (([Scale_Mode]=N'IPD' OR [Scale_Mode]=N'FACE_WIDTH'))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_ScaleMode]
GO
ALTER TABLE [dbo].[Product_Try_On_Config]  WITH CHECK ADD  CONSTRAINT [CK_ProductTryOnConfig_ScaleValue] CHECK  (([Scale_Value]>(0)))
GO
ALTER TABLE [dbo].[Product_Try_On_Config] CHECK CONSTRAINT [CK_ProductTryOnConfig_ScaleValue]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Date] CHECK  (([Start_Date]<[End_Date]))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Date]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Discount_Type] CHECK  (([Discount_Type]=N'AMOUNT' OR [Discount_Type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Discount_Type]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Discount_Value] CHECK  (([Discount_Value]>(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Discount_Value]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Max_Discount_Value] CHECK  (([Max_Discount_Value] IS NULL OR [Max_Discount_Value]>(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Max_Discount_Value]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Scope] CHECK  (([Promotion_Scope]=N'PRODUCT' OR [Promotion_Scope]=N'ORDER'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Scope]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Usage] CHECK  (([Used_Count]>=(0) AND ([Usage_Limit] IS NULL OR [Usage_Limit]>(0)) AND ([Usage_Limit] IS NULL OR [Used_Count]<=[Usage_Limit])))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK_Promotion_Usage]
GO
ALTER TABLE [dbo].[Promotion_Order_Rule]  WITH CHECK ADD  CONSTRAINT [CK_PromotionOrderRule_MinOrderTotal] CHECK  (([Min_Order_Total]>(0)))
GO
ALTER TABLE [dbo].[Promotion_Order_Rule] CHECK CONSTRAINT [CK_PromotionOrderRule_MinOrderTotal]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [CK_PromotionProductTarget_TargetData] CHECK  (([Target_Type]=N'PRODUCT' AND [Product_ID] IS NOT NULL AND [Product_Type_ID] IS NULL AND [Brand_ID] IS NULL OR [Target_Type]=N'PRODUCT_TYPE' AND [Product_ID] IS NULL AND [Product_Type_ID] IS NOT NULL AND [Brand_ID] IS NULL OR [Target_Type]=N'BRAND' AND [Product_ID] IS NULL AND [Product_Type_ID] IS NULL AND [Brand_ID] IS NOT NULL OR [Target_Type]=N'BRAND_PRODUCT_TYPE' AND [Product_ID] IS NULL AND [Product_Type_ID] IS NOT NULL AND [Brand_ID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [CK_PromotionProductTarget_TargetData]
GO
ALTER TABLE [dbo].[Promotion_Product_Target]  WITH CHECK ADD  CONSTRAINT [CK_PromotionProductTarget_TargetType] CHECK  (([Target_Type]=N'BRAND_PRODUCT_TYPE' OR [Target_Type]=N'BRAND' OR [Target_Type]=N'PRODUCT_TYPE' OR [Target_Type]=N'PRODUCT'))
GO
ALTER TABLE [dbo].[Promotion_Product_Target] CHECK CONSTRAINT [CK_PromotionProductTarget_TargetType]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_CompletedRefund_Required] CHECK  (([Status]<>N'COMPLETED' OR ([Return_Type]=N'CANCEL_ORDER' OR [Return_Type]=N'WARRANTY') OR [Refund_Amount] IS NOT NULL AND [Refund_Amount]>(0) AND [Refund_Method] IS NOT NULL AND ltrim(rtrim([Refund_Method]))<>N'' AND [Refund_Account_Number] IS NOT NULL AND ltrim(rtrim([Refund_Account_Number]))<>N'' AND [Staff_Refund_Evidence_URL] IS NOT NULL AND ltrim(rtrim([Staff_Refund_Evidence_URL]))<>N'' AND [Processed_By] IS NOT NULL AND [Processed_Date] IS NOT NULL))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_CompletedRefund_Required]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_RefundAmount] CHECK  (([Refund_Amount] IS NULL OR [Refund_Amount]>=(0)))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_RefundAmount]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_RejectReason_Required] CHECK  (([Status]<>N'REJECTED' OR [Reject_Reason] IS NOT NULL AND ltrim(rtrim([Reject_Reason]))<>N''))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_RejectReason_Required]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_RequestScope] CHECK  (([Request_Scope]=N'ITEM' OR [Request_Scope]=N'ORDER'))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_RequestScope]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_ReturnType] CHECK  (([Return_Type]=N'CANCEL_ORDER' OR [Return_Type]=N'WARRANTY' OR [Return_Type]=N'RETURN' OR [Return_Type]=N'REFUND'))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_ReturnType]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_ScopeByType] CHECK  ((([Return_Type]=N'CANCEL_ORDER' OR [Return_Type]=N'REFUND') AND [Request_Scope]=N'ORDER' OR ([Return_Type]=N'WARRANTY' OR [Return_Type]=N'RETURN') AND [Request_Scope]=N'ITEM'))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_ScopeByType]
GO
ALTER TABLE [dbo].[Return_Exchange]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchange_Status] CHECK  (([Status]=N'COMPLETED' OR [Status]=N'REJECTED' OR [Status]=N'APPROVED' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Return_Exchange] CHECK CONSTRAINT [CK_ReturnExchange_Status]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchangeItem_ExactlyOneDetail] CHECK  (([Item_Source]=N'ORDER_DETAIL' AND [Order_Detail_ID] IS NOT NULL AND [Prescription_Order_Detail_ID] IS NULL OR [Item_Source]=N'PRESCRIPTION_ORDER_DETAIL' AND [Order_Detail_ID] IS NULL AND [Prescription_Order_Detail_ID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [CK_ReturnExchangeItem_ExactlyOneDetail]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchangeItem_ItemSource] CHECK  (([Item_Source]=N'PRESCRIPTION_ORDER_DETAIL' OR [Item_Source]=N'ORDER_DETAIL'))
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [CK_ReturnExchangeItem_ItemSource]
GO
ALTER TABLE [dbo].[Return_Exchange_Item]  WITH CHECK ADD  CONSTRAINT [CK_ReturnExchangeItem_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Return_Exchange_Item] CHECK CONSTRAINT [CK_ReturnExchangeItem_Quantity]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD CHECK  (([Type_Name]='OPERATIONS STAFF' OR [Type_Name]='SALES STAFF' OR [Type_Name]='MANAGER' OR [Type_Name]='ADMIN' OR [Type_Name]='CUSTOMER'))
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [CK_Shipping_Admin_Hierarchy] CHECK  ((([Ward_Code] IS NULL OR [District_Code] IS NOT NULL) AND ([District_Code] IS NULL OR [Province_Code] IS NOT NULL)))
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [CK_Shipping_Admin_Hierarchy]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [CK_Shipping_District_Pair] CHECK  (([District_Code] IS NULL AND [District_Name] IS NULL OR [District_Code] IS NOT NULL AND [District_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [CK_Shipping_District_Pair]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [CK_Shipping_Province_Pair] CHECK  (([Province_Code] IS NULL AND [Province_Name] IS NULL OR [Province_Code] IS NOT NULL AND [Province_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [CK_Shipping_Province_Pair]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [CK_Shipping_Status] CHECK  (([Shipping_Status]=N'RETURNED' OR [Shipping_Status]=N'CANCELED' OR [Shipping_Status]=N'FAILED' OR [Shipping_Status]=N'DELIVERED' OR [Shipping_Status]=N'SHIPPING' OR [Shipping_Status]=N'PACKING' OR [Shipping_Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [CK_Shipping_Status]
GO
ALTER TABLE [dbo].[Shipping_Info]  WITH CHECK ADD  CONSTRAINT [CK_Shipping_Ward_Pair] CHECK  (([Ward_Code] IS NULL AND [Ward_Name] IS NULL OR [Ward_Code] IS NOT NULL AND [Ward_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[Shipping_Info] CHECK CONSTRAINT [CK_Shipping_Ward_Pair]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Admin_Hierarchy] CHECK  ((([Ward_Code] IS NULL OR [District_Code] IS NOT NULL) AND ([District_Code] IS NULL OR [Province_Code] IS NOT NULL)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Admin_Hierarchy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_District_Pair] CHECK  (([District_Code] IS NULL AND [District_Name] IS NULL OR [District_Code] IS NOT NULL AND [District_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_District_Pair]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Province_Pair] CHECK  (([Province_Code] IS NULL AND [Province_Name] IS NULL OR [Province_Code] IS NOT NULL AND [Province_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Province_Pair]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Status] CHECK  (([Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Status]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Ward_Pair] CHECK  (([Ward_Code] IS NULL AND [Ward_Name] IS NULL OR [Ward_Code] IS NOT NULL AND [Ward_Name] IS NOT NULL))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Ward_Pair]
GO
USE [master]
GO
